Repository golles/tomtom-apis-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, ruff-check, ruff-lint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: check-executables-have-shebangs # Doesn't work in devcontainer on Mac
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/fixtures/.*
          )$
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: const.py
      - id: trailing-whitespace

  # The following tools are all installed locally, so there is no need to use remote repos.
  # The main reason is that there is no need to worry about version mismatch between the project and pre-commit.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        require_serial: true

      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        pass_filenames: false

      - id: poetry-install
        name: poetry install
        entry: poetry install
        language: system
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: prettier --write .
        language: system
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        require_serial: true

      - id: ruff-check
        name: ruff linter
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff formatter
        entry: poetry run ruff format --check .
        language: system
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        types: [shell]

      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        language: system
        types: [yaml]

Ignore sonar rules for naming conventions Want to keep namings as close to the API
  sonar-project.properties
Due: none

Rename project in sonar
  sonar-project.properties
Due: none

Add `get_ev_charging_stations_availability` function
  src/tomtom_apis/places/ev_search.py
  src/tomtom_apis/places/models.py
  tests/fixtures/places/ev_search/get_ev_charging_stations_availability.json
  tests/places/test_ev_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Use a bot to create the PR
  .github/workflows/update_fixtures.yaml
Due: yamllint

Update fixtures
  tests/fixtures/maps/get_map_tile.png
  tests/fixtures/maps/get_static_image.png
  tests/fixtures/maps/get_tile_v1.pbf
  tests/fixtures/maps/get_tile_v2.pbf
  tests/fixtures/places/geocoding/get_geocode.json
  tests/fixtures/places/reverse_geocoding/get_cross_street_lookup.json
  tests/fixtures/places/reverse_geocoding/get_reverse_geocode.json
  tests/fixtures/places/search/get_category_search.json
  tests/fixtures/places/search/get_geometry_search.json
  tests/fixtures/places/search/get_nearby_search.json
  tests/fixtures/places/search/get_poi_categories.json
  tests/fixtures/places/search/get_poi_search.json
  tests/fixtures/places/search/get_search.json
  tests/fixtures/places/search/post_geometry_filter.json
  tests/fixtures/places/search/post_geometry_search.json
  tests/fixtures/places/search/post_search_along_route.json
  tests/fixtures/routing/routing/get_calculate_reachable_range.json
  tests/fixtures/routing/routing/get_calculate_route.json
  tests/fixtures/routing/routing/post_calculate_reachable_range.json
  tests/fixtures/routing/routing/post_calculate_route.json
  tests/fixtures/traffic/traffic/get_incident_details_bbox.json
  tests/fixtures/traffic/traffic/get_incident_viewport.json
  tests/fixtures/traffic/traffic/get_raster_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_raster_incident_tile.png
  tests/fixtures/traffic/traffic/get_vector_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_vector_incident_tile.pbf
Due: none

Update fixtures
  tests/fixtures/maps/get_map_tile.png
  tests/fixtures/maps/get_static_image.png
  tests/fixtures/maps/get_tile_v1.pbf
  tests/fixtures/maps/get_tile_v2.pbf
  tests/fixtures/places/geocoding/get_geocode.json
  tests/fixtures/places/geocoding/get_structured_geocode.json
  tests/fixtures/places/reverse_geocoding/get_cross_street_lookup.json
  tests/fixtures/places/reverse_geocoding/get_reverse_geocode.json
  tests/fixtures/places/search/get_category_search.json
  tests/fixtures/places/search/get_geometry_filter.json
  tests/fixtures/places/search/get_geometry_search.json
  tests/fixtures/places/search/get_nearby_search.json
  tests/fixtures/places/search/get_place_by_id.json
  tests/fixtures/places/search/get_poi_categories.json
  tests/fixtures/places/search/get_poi_search.json
  tests/fixtures/places/search/get_search.json
  tests/fixtures/places/search/post_geometry_filter.json
  tests/fixtures/places/search/post_geometry_search.json
  tests/fixtures/places/search/post_search_along_route.json
  tests/fixtures/routing/routing/get_calculate_reachable_range.json
  tests/fixtures/routing/routing/get_calculate_route.json
  tests/fixtures/routing/routing/post_calculate_reachable_range.json
  tests/fixtures/routing/routing/post_calculate_route.json
  tests/fixtures/traffic/traffic/get_incident_details_bbox.json
  tests/fixtures/traffic/traffic/get_incident_viewport.json
  tests/fixtures/traffic/traffic/get_raster_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_raster_incident_tile.png
  tests/fixtures/traffic/traffic/get_vector_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_vector_incident_tile.pbf
Due: none

Commit as bot
  .github/workflows/update_fixtures.yaml
Due: yamllint

Migrate app setup to its own action
  .github/actions/setup-app/action.yaml
  .github/workflows/update_fixtures.yaml
Due: yamllint

Setup app after checkout
  .github/workflows/update_fixtures.yaml
Due: yamllint

Add bot suffix to name and properly output email
  .github/actions/setup-app/action.yaml
Due: yamllint

Fix email formatting
  .github/actions/setup-app/action.yaml
Due: yamllint

Deps: update `pre-commit`
  poetry.lock
  pyproject.toml
Due: none

Update deps - Installing yarl (1.15.0)
  poetry.lock
Due: none

Improve readme
  README.md
Due: none

Update deps
  poetry.lock
Due: none

Improve release workflow, use app token to create the GH release
  .github/workflows/release.yaml
Due: yamllint

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Fix search along route test
  tests/fixtures/places/search/post_search_along_route.json
  tests/places/test_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Add a workflow to update depencies
  .github/workflows/poetry_update.yaml
Due: yamllint

Don't store `pr_body.md` inside the repo
  .github/workflows/poetry_update.yaml
Due: yamllint

Round lat/lon in test, as the results have now more digits
  tests/places/test_geocoding.py
Due: mypy, pylint, ruff-check, ruff-lint

Fetch full history for all SonarCloud features
  .github/workflows/ci.yaml
Due: yamllint

docs(license): update copyright year(s)
  LICENSE
Due: none

Update to new `sonarqube-scan-action`
  .github/workflows/ci.yaml
Due: yamllint

Bump `pytest-asyncio` and `ruff`
  poetry.lock
  pyproject.toml
Due: none

Update: - Updating pytest-asyncio (0.25.1 -> 0.25.2) - Updating orjson (3.10.13 -> 3.10.14)
  poetry.lock
Due: none

Reformat `pyproject.toml` for `poetry` version `2.0.0`
  poetry.lock
  pyproject.toml
Due: none

Fix formatting
  scripts/update_test_fixtures.py
  src/tomtom_apis/places/search.py
Due: mypy, pylint, ruff-check, ruff-lint

Adds a script to run all the CI checks locally. Update devcontainer config to include latest versions of `jq` and `yq`
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  scripts/local_ci_checks.sh
Due: none

Migrate from Poetry to uv
  .devcontainer/devcontainer.json
  .github/actions/setup-env/action.yaml
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update_dependecies.yaml
  .github/workflows/update_fixtures.yaml
  .gitignore
  .pre-commit-config.yaml
  .vscode/tasks.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  scripts/local_ci_checks.sh
  scripts/setup_env.sh
  scripts/update_test_fixtures.py
  scripts/utils.sh
  uv.lock
Due: mypy, pylint, ruff-check, ruff-lint, yamllint

Update to Python 3.13
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/actions/setup-env/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update_dependecies.yaml
  .github/workflows/update_fixtures.yaml
  .vscode/tasks.json
  pyproject.toml
  sonar-project.properties
  tests/automotive/test_fuel_prices.py
  tests/automotive/test_parking_availability.py
  tests/maps/test_map_display.py
  tests/places/test_batch_search.py
  tests/places/test_ev_search.py
  tests/places/test_geocoding.py
  tests/places/test_premium_geocoding.py
  tests/places/test_reverse_geocoding.py
  tests/places/test_search.py
  tests/routing/test_long_distance_ev_routing.py
  tests/routing/test_routing.py
  tests/routing/test_waypoint_optimization.py
  tests/test_api.py
  tests/traffic/test_traffic.py
  uv.lock
Due: mypy, pylint, ruff-check, ruff-lint, yamllint

Fix autocomplete conext geoBias having empty position Update fixtures
  src/tomtom_apis/places/models.py
  tests/fixtures/maps/get_map_tile.png
  tests/fixtures/maps/get_static_image.png
  tests/fixtures/maps/get_tile_v1.pbf
  tests/fixtures/maps/get_tile_v2.pbf
  tests/fixtures/places/geocoding/get_geocode.json
  tests/fixtures/places/geocoding/get_structured_geocode.json
  tests/fixtures/places/reverse_geocoding/get_cross_street_lookup.json
  tests/fixtures/places/reverse_geocoding/get_reverse_geocode.json
  tests/fixtures/places/search/get_autocomplete.json
  tests/fixtures/places/search/get_category_search.json
  tests/fixtures/places/search/get_geometry_search.json
  tests/fixtures/places/search/get_nearby_search.json
  tests/fixtures/places/search/get_place_by_id.json
  tests/fixtures/places/search/get_poi_search.json
  tests/fixtures/places/search/get_search.json
  tests/fixtures/places/search/post_geometry_search.json
  tests/fixtures/places/search/post_search_along_route.json
  tests/fixtures/routing/routing/get_calculate_reachable_range.json
  tests/fixtures/routing/routing/get_calculate_route.json
  tests/fixtures/routing/routing/post_calculate_reachable_range.json
  tests/fixtures/routing/routing/post_calculate_route.json
  tests/fixtures/traffic/traffic/get_incident_details_bbox.json
  tests/fixtures/traffic/traffic/get_incident_viewport.json
  tests/fixtures/traffic/traffic/get_raster_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_raster_incident_tile.png
  tests/fixtures/traffic/traffic/get_vector_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_vector_incident_tile.pbf
Due: mypy, pylint, ruff-check, ruff-lint

Let Renovate handle dependecy updates
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/update_dependecies.yaml
Due: yamllint

`uv` isn't a valid manager
  .github/renovate.json
Due: none

Renovate and pre-commit config for each other
  .github/renovate.json
  .pre-commit-config.yaml
Due: yamllint

Add PR checks workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr.yaml
Due: yamllint

Fix vscode indentation for html, json, and yaml
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

Use release drafter to automate release notes
  .github/release-drafter.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
Due: yamllint

Rename PR workflow and job
  .github/workflows/pr.yaml
Due: yamllint

Use bot to create the license update PR and rename workflow/job
  .github/workflows/license.yaml
Due: yamllint
