Repository golles/tomtom-apis-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, ruff-check, ruff-lint, yamllint

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  require_serial: true

ruff-check:
  name: ruff linter
  entry: poetry run ruff check --fix
  language: system

ruff-lint:
  name: ruff formatter
  entry: poetry run ruff format --check .
  language: system

yamllint:
  name: yamllint
  entry: poetry run yamllint
  language: system

Add missing fields to `DataSources` (#150)
  src/tomtom_apis/places/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Revert "Update Python to v3.13.4 (#164)"
  pyproject.toml
  uv.lock
Due: none

Don't automatically close the provided session
  examples/README.md
  pyproject.toml
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

`base_api._close_session` should be `False` here
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Don't automatically close the provided session (#166)
  examples/README.md
  pyproject.toml
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Add dependency review PR job
  .github/workflows/pr.yaml
Due: yamllint

Specify pr types
  .github/workflows/pr.yaml
Due: yamllint

Add dependency review PR job (#180)
  .github/workflows/pr.yaml
Due: yamllint

Do not use hardcoded Python and Node versions for CI
  .github/actions/setup-env/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update_fixtures.yaml
  package-lock.json
  package.json
Due: yamllint

Do not use hardcoded Python and Node versions for CI (#184)
  .github/actions/setup-env/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update_fixtures.yaml
  package-lock.json
  package.json
Due: yamllint

Less strict Python versioning
  .github/renovate.json
  pyproject.toml
  uv.lock
Due: none

Less strict Python versioning (#185)
  .github/renovate.json
  pyproject.toml
  uv.lock
Due: none

Update node version and don't let Renovate pin it
  .devcontainer/devcontainer.json
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Update node version and don't let Renovate pin it (#186)
  .devcontainer/devcontainer.json
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Be less strict with dependencies
  .github/renovate.json
  pyproject.toml
  uv.lock
Due: none

Be less strict with dependencies (#207)
  .github/renovate.json
  pyproject.toml
  uv.lock
Due: none

Refactor BaseApi to lazily initialize version and streamline header preparation
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Refactor BaseApi to lazily initialize version and streamline header preparation (#208)
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Remove version from `User-Agent` header
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Remove version from `User-Agent` header (#211)
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Don't pin node engine version
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Don't pin node engine version (#214)
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Revert "Don't pin node engine version (#214)"
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Revert "Don't pin node engine version (#214)" (#215)
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Ignore renovate updates for node
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Ignore renovate updates for node (#219)
  .github/renovate.json
  package-lock.json
  package.json
Due: none

Allways run all PR jobs
  .github/workflows/pr.yaml
Due: yamllint

Always run all PR jobs (#220)
  .github/workflows/pr.yaml
Due: yamllint

Install the pre-commit hook
  scripts/setup_env.sh
Due: none

Install the pre-commit hook (#243)
  scripts/setup_env.sh
Due: none

Improve the dev setup script It was failing to install the `pre-commit` hook
  scripts/setup_env.sh
  scripts/utils.sh
Due: none

Improve the dev setup script (#248)
  scripts/setup_env.sh
  scripts/utils.sh
Due: none

Update reload instructions for dev container
  scripts/setup_env.sh
Due: none

Update reload instructions for dev container (#290)
  scripts/setup_env.sh
Due: none

Remove `base_url` from session
  examples/README.md
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Remove `base_url` from session (#319)
  examples/README.md
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Use setup-app from shared repo
  .github/actions/setup-app/action.yaml
  .github/workflows/license.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/update_fixtures.yaml
Due: yamllint

Use setup-app from shared repo (#320)
  .github/actions/setup-app/action.yaml
  .github/workflows/license.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/update_fixtures.yaml
Due: yamllint

Add language parameter to place search URL
  scripts/data/fixtures.json
Due: none

Add language parameter to place search URL (#321)
  scripts/data/fixtures.json
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$
  ruff-check: any of: \.py$
  ruff-lint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
