Repository golles/tomtom-apis-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, ruff-check, ruff-lint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: check-executables-have-shebangs # Doesn't work in devcontainer on Mac
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/fixtures/.*
          )$
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: const.py
      - id: trailing-whitespace

  # The following tools are all installed locally, so there is no need to use remote repos.
  # The main reason is that there is no need to worry about version mismatch between the project and pre-commit.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        require_serial: true

      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        pass_filenames: false

      - id: poetry-install
        name: poetry install
        entry: poetry install
        language: system
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: prettier --write .
        language: system
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        require_serial: true

      - id: ruff-check
        name: ruff linter
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff formatter
        entry: poetry run ruff format --check .
        language: system
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        types: [shell]

      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        language: system
        types: [yaml]

use `aiohttp.ClientTimeout` instead of custom timeout
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Don't restrict the `base_url`
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Example with custom `ClientSession`
  examples/README.md
Due: none

Update dependencies
  poetry.lock
Due: none

Type responses for `TrafficApi`: -`get_incident_details` -`post_incident_details` -`get_incident_viewport` -`get_flow_segment_data`
  README.md
  scripts/data/fixtures.json
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/traffic/traffic.py
  tests/fixtures/traffic/traffic/get_incident_details.json
  tests/fixtures/traffic/traffic/get_incident_details_bbox.json
  tests/fixtures/traffic/traffic/get_incident_details_ids.json
  tests/fixtures/traffic/traffic/post_incident_details.json
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Improve tests: -No need to manually close api session, the context manager takes care of that -Assert response instance
  tests/automotive/test_fuel_prices.py
  tests/automotive/test_parking_availability.py
  tests/maps/test_map_display.py
  tests/places/test_batch_search.py
  tests/places/test_ev_search.py
  tests/places/test_geocoding.py
  tests/places/test_premium_geocoding.py
  tests/places/test_reverse_geocoding.py
  tests/places/test_search.py
  tests/routing/test_long_distance_ev_routing.py
  tests/routing/test_routing.py
  tests/routing/test_waypoint_optimization.py
  tests/test_api.py
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Disable the pylint rules`invalid-name`, `too-many-instance-attributes` and `too-many-lines` for all `models.py` files entirely
  src/tomtom_apis/automotive/models.py
  src/tomtom_apis/maps/models.py
  src/tomtom_apis/places/models.py
  src/tomtom_apis/routing/models.py
  src/tomtom_apis/traffic/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Use a multi context block
  examples/maps_london_traffic/download_tiles.py
Due: mypy, pylint, ruff-check, ruff-lint

Add VSCode tasks
  .vscode/tasks.json
Due: none

No longer disable global pylint rules
  pyproject.toml
  src/tomtom_apis/automotive/autostream.py
  src/tomtom_apis/automotive/fuel_prices.py
  src/tomtom_apis/automotive/parking_availability.py
  src/tomtom_apis/maps/map_display.py
  src/tomtom_apis/models.py
  src/tomtom_apis/places/batch_search.py
  src/tomtom_apis/places/ev_search.py
  src/tomtom_apis/places/geocoding.py
  src/tomtom_apis/places/models.py
  src/tomtom_apis/places/premium_geocoding.py
  src/tomtom_apis/places/reverse_geocoding.py
  src/tomtom_apis/places/search.py
  src/tomtom_apis/routing/long_distance_ev_routing.py
  src/tomtom_apis/routing/matrix_routing_v2.py
  src/tomtom_apis/routing/waypoint_optimization.py
  src/tomtom_apis/tracking_logistics/geofencing.py
  src/tomtom_apis/tracking_logistics/location_history.py
  src/tomtom_apis/tracking_logistics/notifications.py
  src/tomtom_apis/tracking_logistics/snap_to_roads.py
  src/tomtom_apis/traffic/intermediate_traffic.py
  src/tomtom_apis/traffic/junction_analytics.py
  src/tomtom_apis/traffic/od_analytics.py
  src/tomtom_apis/traffic/route_monitoring.py
  src/tomtom_apis/traffic/traffic.py
  src/tomtom_apis/traffic/traffic_stats.py
Due: mypy, pylint, ruff-check, ruff-lint

Fix xopy/paste naming mistakes
  tests/places/test_batch_search.py
  tests/routing/test_routing.py
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Use `from_` instead of `_from` as that would indicate a private member.
  src/tomtom_apis/places/models.py
  src/tomtom_apis/traffic/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Improve `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: none

Improve code style
  scripts/update_test_fixtures.py
Due: mypy, pylint, ruff-check, ruff-lint

Minor code style improvements
  src/tomtom_apis/api.py
  src/tomtom_apis/places/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Update project dependencies: -ruff: 0.6.4 -yarl: 1.10.0
  poetry.lock
Due: none

Add pyupgrade rule and fix issues
  pyproject.toml
  scripts/sort_models.py
  scripts/update_test_fixtures.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Add auto completions for `ruff`
  scripts/setup_env.sh
Due: none

Use `IntEnum` and `StrEnum` instead of `Enum`
  src/tomtom_apis/maps/models.py
  src/tomtom_apis/models.py
  src/tomtom_apis/places/models.py
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/utils.py
  tests/test_models.py
  tests/test_utils.py
Due: mypy, pylint, ruff-check, ruff-lint

More efficient string concatenating and typo
  src/tomtom_apis/models.py
  src/tomtom_apis/places/reverse_geocoding.py
  src/tomtom_apis/routing/long_distance_ev_routing.py
  src/tomtom_apis/routing/routing.py
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/traffic/traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Update deps
  poetry.lock
Due: none

Add visual example
  examples/maps_london_traffic/README.md
  examples/maps_london_traffic/example.png
Due: none

Rename dev container
  .devcontainer/devcontainer.json
Due: none

Generate ruff autocomplete in poetry run context Improve logging
  scripts/setup_env.sh
Due: none

Rename typo `Exampels` to `Examples`
  examples/maps/maps.py
  examples/places/geocoding.py
  examples/places/reverse_geocoding.py
  examples/places/search.py
Due: mypy, pylint, ruff-check, ruff-lint

Set `yamllint` output to support Github
  .github/workflows/ci.yaml
Due: yamllint

Fix: `dataclass` defaults should be immutable + formatting
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Add an example for the Monaco GP track
  examples/routing_monaco_gp/README.md
  examples/routing_monaco_gp/monaco.py
Due: mypy, pylint, ruff-check, ruff-lint

Improve typings of models
  src/tomtom_apis/automotive/models.py
  src/tomtom_apis/maps/models.py
  src/tomtom_apis/models.py
  src/tomtom_apis/places/models.py
  src/tomtom_apis/routing/models.py
  tests/routing/test_long_distance_ev_routing.py
  tests/routing/test_routing.py
Due: mypy, pylint, ruff-check, ruff-lint

Improve examples
  examples/routing_landmarks/routing.py
  examples/routing_monaco_gp/README.md
  examples/routing_monaco_gp/monaco.py
Due: mypy, pylint, ruff-check, ruff-lint

Use action to publish to pypi
  .github/workflows/release.yaml
Due: yamllint

Move permissions into job
  .github/workflows/release.yaml
Due: yamllint

Add badges to readme
  README.md
Due: none

Use `pylint` from environment
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

Remove commented out code
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Use a generic type parameter for this function instead of a "TypeVar": python:S6796
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Refactor this function to reduce its Cognitive Complexity from 18 to the 15 allowed: python:S3776
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Add `py.typed` file
  src/tomtom_apis/py.typed
Due: none
