Repository golles/tomtom-apis-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, ruff-check, ruff-lint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: check-executables-have-shebangs # Doesn't work in devcontainer on Mac
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/fixtures/.*
          )$
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: const.py
      - id: trailing-whitespace

  # The following tools are all installed locally, so there is no need to use remote repos.
  # The main reason is that there is no need to worry about version mismatch between the project and pre-commit.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        require_serial: true

      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        pass_filenames: false

      - id: poetry-install
        name: poetry install
        entry: poetry install
        language: system
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: prettier --write .
        language: system
        pass_filenames: false

      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        require_serial: true

      - id: ruff-check
        name: ruff linter
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff formatter
        entry: poetry run ruff format --check .
        language: system
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        types: [shell]

      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        language: system
        types: [yaml]

Auto sort models
  .pre-commit-config.yaml
  scripts/sort_models.py
  src/tomtom_api/automotive/models.py
  src/tomtom_api/maps/models.py
  src/tomtom_api/models.py
  src/tomtom_api/places/models.py
  src/tomtom_api/routing/models.py
  src/tomtom_api/traffic/models.py
Due: mypy, pylint, ruff-check, ruff-lint, yamllint

Update fixtures
  pyproject.toml
  scripts/data/fixtures.json
  tests/fixtures/maps/get_map_tile.png
  tests/fixtures/maps/get_static_image.png
  tests/fixtures/maps/get_tile_v1.pbf
  tests/fixtures/maps/get_tile_v2.pbf
  tests/fixtures/places/geocoding/get_geocode.json
  tests/fixtures/places/geocoding/get_structured_geocode.json
  tests/fixtures/places/reverse_geocoding/get_cross_street_lookup.json
  tests/fixtures/places/reverse_geocoding/get_reverse_geocode.json
  tests/fixtures/places/search/get_category_search.json
  tests/fixtures/places/search/get_geometry_search.json
  tests/fixtures/places/search/get_nearby_search.json
  tests/fixtures/places/search/get_place_by_id.json
  tests/fixtures/places/search/get_poi_search.json
  tests/fixtures/places/search/get_search.json
  tests/fixtures/places/search/post_search_along_route.json
  tests/fixtures/routing/routing/get_calculate_reachable_range.json
  tests/fixtures/routing/routing/get_calculate_route.json
  tests/fixtures/routing/routing/post_calculate_reachable_range.json
  tests/fixtures/routing/routing/post_calculate_route.json
  tests/fixtures/traffic/traffic/get_incident_viewport.json
  tests/fixtures/traffic/traffic/get_raster_incident_tile.png
  tests/fixtures/traffic/traffic/get_vector_incident_tile.pbf
  tests/maps/test_map_display.py
Due: mypy, pylint, ruff-check, ruff-lint

Make clear that tests are deserialization tests Check `datetime` and updated a few `str` to `datetime`
  src/tomtom_api/routing/models.py
  tests/automotive/test_fuel_prices.py
  tests/automotive/test_parking_availability.py
  tests/maps/test_map_display.py
  tests/places/test_batch_search.py
  tests/places/test_ev_search.py
  tests/places/test_geocoding.py
  tests/places/test_premium_geocoding.py
  tests/places/test_reverse_geocoding.py
  tests/places/test_search.py
  tests/routing/test_long_distance_ev_routing.py
  tests/routing/test_routing.py
  tests/routing/test_waypoint_optimization.py
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

`post_asynchronous_synchronous_batch` should return a header as there is no data
  src/tomtom_api/api.py
  src/tomtom_api/places/batch_search.py
  tests/places/test_batch_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Remove checks script
  scripts/checks.sh
Due: none

Prep for releasing to pypi
  .github/workflows/release.yaml
  pyproject.toml
Due: yamllint

Also make a GH release
  .github/workflows/release.yaml
Due: yamllint

make headers a simple dict
  src/tomtom_api/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Type functions: - get_autocomplete - get_geometry_filter - post_geometry_filter - get_additional_data
  poetry.lock
  pyproject.toml
  scripts/data/fixtures.json
  src/tomtom_api/places/models.py
  src/tomtom_api/places/search.py
  tests/fixtures/places/geocoding/get_geocode.json
  tests/fixtures/places/geocoding/get_structured_geocode.json
  tests/fixtures/places/reverse_geocoding/get_cross_street_lookup.json
  tests/fixtures/places/reverse_geocoding/get_reverse_geocode.json
  tests/fixtures/places/search/get_additional_data.json
  tests/fixtures/places/search/get_autocomplete.json
  tests/fixtures/places/search/get_category_search.json
  tests/fixtures/places/search/get_geometry_filter.json
  tests/fixtures/places/search/get_geometry_search.json
  tests/fixtures/places/search/get_nearby_search.json
  tests/fixtures/places/search/get_place_by_id.json
  tests/fixtures/places/search/get_poi_search.json
  tests/fixtures/places/search/get_search.json
  tests/fixtures/places/search/post_geometry_filter.json
  tests/fixtures/places/search/post_search_along_route.json
  tests/fixtures/routing/routing/get_calculate_reachable_range.json
  tests/fixtures/routing/routing/get_calculate_route.json
  tests/fixtures/routing/routing/post_calculate_reachable_range.json
  tests/fixtures/routing/routing/post_calculate_route.json
  tests/fixtures/traffic/traffic/get_incident_viewport.json
  tests/fixtures/traffic/traffic/get_raster_incident_tile.png
  tests/fixtures/traffic/traffic/get_vector_incident_tile.pbf
  tests/places/test_batch_search.py
  tests/places/test_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Type functions: - get_search - get_poi_search - get_category_search - get_geometry_search - post_search_along_route
  src/tomtom_api/places/models.py
  src/tomtom_api/places/search.py
  tests/places/test_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Update dependencies
  poetry.lock
Due: none

Headers should be a `dict[str, str]` after updating `aiohttp`
  src/tomtom_api/api.py
  tests/test_models.py
Due: mypy, pylint, ruff-check, ruff-lint

Add test for `Connector` `__post_deserialize__` method
  tests/places/test_models.py
Due: mypy, pylint, ruff-check, ruff-lint

Docs
  .devcontainer/devcontainer.json
  .env.sample
  CONTRIBUTING.md
  README.md
Due: none

Remove chatgpt answer
  README.md
Due: none

Single line comments without period
  examples/maps/maps.py
  examples/maps_london_traffic/download_tiles.py
  examples/places/places.py
  examples/routing_landmarks/routing.py
  scripts/update_test_fixtures.py
  src/tomtom_api/__init__.py
  src/tomtom_api/api.py
  src/tomtom_api/automotive/models.py
  src/tomtom_api/const.py
  src/tomtom_api/exceptions.py
  src/tomtom_api/maps/models.py
  src/tomtom_api/places/models.py
  src/tomtom_api/routing/models.py
  src/tomtom_api/tracking_logistics/models.py
  src/tomtom_api/traffic/models.py
  tests/automotive/test_fuel_prices.py
  tests/automotive/test_parking_availability.py
  tests/conftest.py
  tests/maps/test_map_display.py
  tests/places/test_batch_search.py
  tests/places/test_ev_search.py
  tests/places/test_geocoding.py
  tests/places/test_models.py
  tests/places/test_premium_geocoding.py
  tests/places/test_reverse_geocoding.py
  tests/places/test_search.py
  tests/routing/test_long_distance_ev_routing.py
  tests/routing/test_routing.py
  tests/routing/test_waypoint_optimization.py
  tests/test_api.py
  tests/test_models.py
  tests/test_utils.py
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Add `get_nearby_search` example
  examples/places/places.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend API tetss
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Set dev version
  pyproject.toml
Due: none

Make `BaseParams` extend `DataClassDictMixin` So we can use `serialization_strategy` Properly type `MapTileV2Params` and set `serialize` fields
  src/tomtom_api/api.py
  src/tomtom_api/maps/models.py
  src/tomtom_api/utils.py
  tests/maps/test_map_display.py
  tests/test_api.py
  tests/test_models.py
  tests/test_utils.py
Due: mypy, pylint, ruff-check, ruff-lint

Use relative imports
  src/tomtom_api/api.py
  src/tomtom_api/automotive/autostream.py
  src/tomtom_api/automotive/fuel_prices.py
  src/tomtom_api/automotive/models.py
  src/tomtom_api/automotive/parking_availability.py
  src/tomtom_api/maps/map_display.py
  src/tomtom_api/places/batch_search.py
  src/tomtom_api/places/ev_search.py
  src/tomtom_api/places/geocoding.py
  src/tomtom_api/places/models.py
  src/tomtom_api/places/premium_geocoding.py
  src/tomtom_api/places/reverse_geocoding.py
  src/tomtom_api/places/search.py
  src/tomtom_api/routing/long_distance_ev_routing.py
  src/tomtom_api/routing/matrix_routing_v2.py
  src/tomtom_api/routing/models.py
  src/tomtom_api/routing/routing.py
  src/tomtom_api/routing/waypoint_optimization.py
  src/tomtom_api/tracking_logistics/geofencing.py
  src/tomtom_api/tracking_logistics/location_history.py
  src/tomtom_api/tracking_logistics/notifications.py
  src/tomtom_api/tracking_logistics/snap_to_roads.py
  src/tomtom_api/traffic/intermediate_traffic.py
  src/tomtom_api/traffic/junction_analytics.py
  src/tomtom_api/traffic/models.py
  src/tomtom_api/traffic/od_analytics.py
  src/tomtom_api/traffic/route_monitoring.py
  src/tomtom_api/traffic/traffic.py
  src/tomtom_api/traffic/traffic_stats.py
Due: mypy, pylint, ruff-check, ruff-lint

Correct python version for ruff
  pyproject.toml
Due: none

Trust the repo
  scripts/setup_env.sh
Due: none

Updated project description
  README.md
  pyproject.toml
  sonar-project.properties
  src/tomtom_apis/__init__.py
Due: mypy, pylint, ruff-check, ruff-lint

Fixing typo
  scripts/update_test_fixtures.py
Due: mypy, pylint, ruff-check, ruff-lint

Test release workflow
  .github/workflows/release.yaml
Due: yamllint

Specificy files
  .github/workflows/release.yaml
Due: yamllint

Finalize release workflow
  .github/workflows/release.yaml
Due: yamllint

Add some generic code snippets
  examples/README.md
Due: none

Add `post_geometry_search`
  scripts/data/fixtures.json
  src/tomtom_apis/places/models.py
  src/tomtom_apis/places/search.py
  tests/fixtures/places/search/post_geometry_search.json
  tests/places/test_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Split `places` example into specific example files
  examples/places/geocoding.py
  examples/places/places.py
  examples/places/reverse_geocoding.py
  examples/places/search.py
Due: mypy, pylint, ruff-check, ruff-lint

Update dependecies
  poetry.lock
Due: none

Adding missing traffic calls (untyped)
  README.md
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/traffic/traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Sort json based on class/methods
  scripts/data/fixtures.json
Due: none

Typed params and added tests for `TrafficApi`: - `get_flow_segment_data` - `get_raster_flow_tiles` - `get_vector_flow_tiles`
  scripts/data/fixtures.json
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/traffic/traffic.py
  tests/fixtures/maps/get_map_tile.png
  tests/fixtures/maps/get_static_image.png
  tests/fixtures/maps/get_tile_v1.pbf
  tests/fixtures/maps/get_tile_v2.pbf
  tests/fixtures/places/geocoding/get_geocode.json
  tests/fixtures/places/geocoding/get_structured_geocode.json
  tests/fixtures/places/reverse_geocoding/get_cross_street_lookup.json
  tests/fixtures/places/reverse_geocoding/get_reverse_geocode.json
  tests/fixtures/places/search/get_category_search.json
  tests/fixtures/places/search/get_geometry_search.json
  tests/fixtures/places/search/get_nearby_search.json
  tests/fixtures/places/search/get_place_by_id.json
  tests/fixtures/places/search/get_poi_search.json
  tests/fixtures/places/search/get_search.json
  tests/fixtures/places/search/post_geometry_filter.json
  tests/fixtures/places/search/post_geometry_search.json
  tests/fixtures/places/search/post_search_along_route.json
  tests/fixtures/routing/routing/get_calculate_reachable_range.json
  tests/fixtures/routing/routing/get_calculate_route.json
  tests/fixtures/routing/routing/post_calculate_reachable_range.json
  tests/fixtures/routing/routing/post_calculate_route.json
  tests/fixtures/traffic/traffic/get_flow_segment_data.json
  tests/fixtures/traffic/traffic/get_incident_viewport.json
  tests/fixtures/traffic/traffic/get_raster_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_raster_incident_tile.png
  tests/fixtures/traffic/traffic/get_vector_flow_tiles.pbf
  tests/fixtures/traffic/traffic/get_vector_incident_tile.pbf
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Type params for `get_incident_details`
  scripts/data/fixtures.json
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/traffic/traffic.py
  tests/fixtures/traffic/traffic/get_incident_details.json
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Update deps: - Updating aiohappyeyeballs (2.3.5 -> 2.3.7) - Updating aiohttp (3.10.3 -> 3.10.4)
  poetry.lock
Due: none
