Repository golles/tomtom-apis-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, ruff-check, ruff-lint, yamllint

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  require_serial: true

ruff-check:
  name: ruff linter
  entry: poetry run ruff check --fix
  language: system

ruff-lint:
  name: ruff formatter
  entry: poetry run ruff format --check .
  language: system

yamllint:
  name: yamllint
  entry: poetry run yamllint
  language: system

Use both to create the release
  .github/workflows/release-drafter.yaml
Due: yamllint

Add `enhancement` label to fixture update PR
  .github/workflows/update_fixtures.yaml
Due: yamllint

Auto merge all types of dev dependencies
  .github/renovate.json
Due: none

Improve output formatting
  examples/routing_monaco_gp/monaco.py
Due: mypy, pylint, ruff-check, ruff-lint

Improve output formatting
  examples/routing_monaco_gp/README.md
  examples/routing_monaco_gp/monaco.py
Due: mypy, pylint, ruff-check, ruff-lint

Delete CodeQL workflow
  .github/workflows/codeql.yaml
Due: yamllint

Set global workflow permissions
  .github/workflows/ci.yaml
  .github/workflows/license.yaml
  .github/workflows/pr.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/update_fixtures.yaml
Due: yamllint

Add test for `Context.__pre_deserialize__`
  tests/places/test_models.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `RUF` rules
  pyproject.toml
  src/tomtom_apis/__init__.py
  src/tomtom_apis/api.py
  src/tomtom_apis/places/search.py
  src/tomtom_apis/traffic/__init__.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `PTH` rules
  examples/maps_london_traffic/download_tiles.py
  pyproject.toml
  scripts/sort_models.py
  scripts/update_test_fixtures.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `COM` rules
  examples/places/search.py
  examples/routing_monaco_gp/monaco.py
  pyproject.toml
  scripts/sort_models.py
  tests/automotive/test_parking_availability.py
  tests/places/test_batch_search.py
  tests/places/test_ev_search.py
  tests/places/test_search.py
  tests/routing/test_long_distance_ev_routing.py
  tests/routing/test_routing.py
  tests/routing/test_waypoint_optimization.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `ERA` rules
  pyproject.toml
  src/tomtom_apis/places/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `FBT` rules
  pyproject.toml
  src/tomtom_apis/utils.py
  tests/test_utils.py
Due: mypy, pylint, ruff-check, ruff-lint

Ignore FBT001 here as the parameter is clear for this serialization function
  src/tomtom_apis/utils.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `PYI` rules
  pyproject.toml
  src/tomtom_apis/api.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `SIM` rules
  pyproject.toml
  tests/maps/test_map_display.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `SLF` rules
  pyproject.toml
  src/tomtom_apis/api.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `TRY` rules
  examples/maps_london_traffic/download_tiles.py
  pyproject.toml
  scripts/update_test_fixtures.py
  src/tomtom_apis/api.py
  src/tomtom_apis/exceptions.py
  src/tomtom_apis/traffic/traffic.py
  src/tomtom_apis/utils.py
  tests/test_utils.py
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `EM` rules
  pyproject.toml
  src/tomtom_apis/utils.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `INP` rules
  pyproject.toml
  tests/automotive/__init__.py
  tests/maps/__init__.py
  tests/places/__init__.py
  tests/tracking_logistics/__init__.py
  tests/traffic/__init__.py
Due: mypy, pylint, ruff-check, ruff-lint

Ignore linting by `TC` rules
  pyproject.toml
  tests/maps/test_map_display.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `TID` rules
  pyproject.toml
  src/tomtom_apis/automotive/autostream.py
  src/tomtom_apis/automotive/fuel_prices.py
  src/tomtom_apis/automotive/models.py
  src/tomtom_apis/automotive/parking_availability.py
  src/tomtom_apis/maps/map_display.py
  src/tomtom_apis/maps/models.py
  src/tomtom_apis/places/batch_search.py
  src/tomtom_apis/places/ev_search.py
  src/tomtom_apis/places/geocoding.py
  src/tomtom_apis/places/models.py
  src/tomtom_apis/places/premium_geocoding.py
  src/tomtom_apis/places/reverse_geocoding.py
  src/tomtom_apis/places/search.py
  src/tomtom_apis/routing/long_distance_ev_routing.py
  src/tomtom_apis/routing/matrix_routing_v2.py
  src/tomtom_apis/routing/models.py
  src/tomtom_apis/routing/routing.py
  src/tomtom_apis/routing/waypoint_optimization.py
  src/tomtom_apis/tracking_logistics/geofencing.py
  src/tomtom_apis/tracking_logistics/location_history.py
  src/tomtom_apis/tracking_logistics/notifications.py
  src/tomtom_apis/tracking_logistics/snap_to_roads.py
  src/tomtom_apis/traffic/intermediate_traffic.py
  src/tomtom_apis/traffic/junction_analytics.py
  src/tomtom_apis/traffic/models.py
  src/tomtom_apis/traffic/od_analytics.py
  src/tomtom_apis/traffic/route_monitoring.py
  src/tomtom_apis/traffic/traffic.py
  src/tomtom_apis/traffic/traffic_stats.py
  tests/routing/test_routing.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `S` rules
  pyproject.toml
  scripts/sort_models.py
  scripts/update_test_fixtures.py
  src/tomtom_apis/places/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Add comment why rule is ignored
  pyproject.toml
Due: none

Extend linting by `N` rules
  examples/maps_london_traffic/download_tiles.py
  pyproject.toml
  scripts/update_test_fixtures.py
  src/tomtom_apis/__init__.py
  src/tomtom_apis/api.py
  src/tomtom_apis/exceptions.py
  src/tomtom_apis/traffic/traffic.py
  src/tomtom_apis/utils.py
  tests/test_api.py
  tests/test_utils.py
  tests/traffic/test_traffic.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `I` rules
  pyproject.toml
  src/tomtom_apis/maps/map_display.py
  src/tomtom_apis/places/ev_search.py
  src/tomtom_apis/places/premium_geocoding.py
  src/tomtom_apis/routing/long_distance_ev_routing.py
  src/tomtom_apis/routing/routing.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `E` rules
  pyproject.toml
  src/tomtom_apis/places/ev_search.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `T` rules
  pyproject.toml
Due: none

Extend linting by `RSE` rules
  examples/maps_london_traffic/download_tiles.py
  pyproject.toml
  scripts/update_test_fixtures.py
Due: mypy, pylint, ruff-check, ruff-lint

Extend linting by `PLR` rules
  pyproject.toml
  scripts/sort_models.py
  src/tomtom_apis/api.py
  src/tomtom_apis/const.py
  src/tomtom_apis/maps/map_display.py
  src/tomtom_apis/traffic/traffic.py
  tests/conftest.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Replace hardcoded http status codes
  src/tomtom_apis/const.py
  tests/test_api.py
Due: mypy, pylint, ruff-check, ruff-lint

Don't use hardcoded paths Improve paths in scripts Minor improvements
  scripts/sort_models.py
  scripts/update_test_fixtures.py
Due: mypy, pylint, ruff-check, ruff-lint

Enable `ALL` linting rules
  pyproject.toml
Due: none

Add Github CLI
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  scripts/setup_env.sh
Due: none

Add a simple clean project script
  scripts/clean_project.sh
Due: none

Pin `hatchling`
  pyproject.toml
Due: none

Dev improvements (#137)
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  pyproject.toml
  scripts/clean_project.sh
  scripts/setup_env.sh
Due: none

Some routing parameter can be provided multiple times
  src/tomtom_apis/routing/models.py
  tests/routing/test_routing.py
Due: mypy, pylint, ruff-check, ruff-lint

Some routing parameter can be provided multiple times (#146)
  src/tomtom_apis/routing/models.py
  tests/routing/test_routing.py
Due: mypy, pylint, ruff-check, ruff-lint

Add missing fields to `DataSources`
  src/tomtom_apis/places/models.py
Due: mypy, pylint, ruff-check, ruff-lint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$
  ruff-check: any of: \.py$
  ruff-lint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
